<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
        }

        .navbar {
            background-color: #333;
            overflow: hidden;
            color: wheat;
        }

        
        main {
           
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #e30c0c;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .article {
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
        }

        h2 {
            font-size: 24px;
            color: #333;
        }

        p {
            font-size: 16px;
            color: #555;
        }
    </style>
</head>
<body>
    <header>
        <%-include("./components/Navbar")%>
    </header>

   
      
    </div>

    <main>
       <% if(blogs.length==0){%>
        <h1>no blog found</h1>
     <%  }else{  %>
        <% blogs.forEach((blog)=>{  %>
       <div class="article">
        <img src="<%-blog.image %> " alt="image" height="150px" width="100px"/>
            <h2><%-blog.title %></h2>
            <h3><%-blog.subTitle %></h3>
            <p><%-blog.description %></p>
            <p>Author:<%-blog.user.userName %></p>
            <p>Author:<%-blog.user.userEmail %></p>
<a href="/single/<%-blog.id %>">readMore</a>
     <%   }) %>
     <%   } %>

       </div>
    </main>
</body>
</html>
