<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Blog</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
        }

        main {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        article {
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
        }

        h2 {
            font-size: 24px;
            color: #333;
        }

        p {
            font-size: 16px;
            color: #555;
        }
    </style>
</head>
<body>
    <%-include("./components/Navbar")%>
   
    <main>
        <article>
            <h2><%-singleBlogData[0].title%></h2>
     
        </article>

        <article>
            <h2><%-singleBlogData[0].subTitle%></h2>
            <img src="<%-singleBlogData[0].image %> " alt="image" height="500px" width="400px"/>
        </article>

        <article>
            <h2><%-singleBlogData[0].description%></h2>
    
        </article>
        <article>
            <h2><i>published At:</i><%-singleBlogData[0].createdAt.toISOString().slice(0,10)%></h2>
    <p>Author:<%-singleBlogData[0].user.userName %></p>
        </article>
     <% if(currentUser){%>
        <%  if(currentUserId==singleBlogData[0].user.id){ %>
        <article> <button><a href="/delete/<%- singleBlogData[0].id %>">delete</a></button></article>
        <article> <button><a href="/editBlog/<%- singleBlogData[0].id %>">edit</a></button></article>
        <% }%>
        <%}%>
    </main>
 
</body>
</html>
